@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC";
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #622663;
    box-shadow: 0 2px 5px rgba(32, 31, 31, 0.1);
}
#book{
	/* display: flex;
	align-items: center;
	max-width: 200px; */
	max-width: 100px;
}
h1{
	font-size: 24px;
	font-weight: bold;
	/* display: flex; */
	align-items: center;
	margin: 10px 0;
}
.search-bar {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
	font-size: 16px;
}
/* RECIPE CARD */
.recipe-card{
	/* display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
	width: 700px;
	margin: 20px auto;
	background-color: #ffffff;
	border: #333;
	box-shadow: 0 4px 8px #0000001a;
    border-radius: 8px;
    overflow: hidden;
	display: flex;
}
.recipe-card img{
	width: 70%;
	object-fit: cover;
	/* grid-column: 1/2;
	grid-row: 1/6; */
}
.recipe-title{
    color: black;
    margin: 10px 0;
	/* grid-column: 2/3;
	grid-row: 1/2; */
	align-items: center;
}
.rating{
	font-size: 20px;
    color: #f4a000;
	align-items: center;
	/* grid-column: 2/3;
	grid-row: 2/3; */
}
.recipe-description{
font-size: 20px;
/* grid-column: 2/3;
grid-row: 3/4; */
}

.category{
	background-color: var(--primary-color);
	width: 100px;
    color: #0d075d;
    border: none;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 10px;
	max-width: 80px;
	/* grid-column: 2/3;
	grid-row: 4/5; */
	flex-direction: end;
}
.social img{
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
	max-width: 50px;
	/* object-fit: contain; */
	object-fit: cover;
}