.content{
    font-size: 20px;
    line-height: 1.5;
    max-width: 600px;
    border: 1px solid black;
    margin: 0;
    align-items: center;
}
.title{
    text-align: center;
    text-transform: capitalize;
}
.dark{
    background-color: #333;
    color: white;
}
.dark h2{
    color: rgb(160, 212, 232);
}
h1{
font-size: 30px;
}
h2{
    font-size: 20px;
    color: #006EB6;
}
.class{
    width: 150px;
}
.paragraphs{
    text-align: left;
    padding: 10px;
}
body{
 display: flex;
 justify-content: center;
 padding: 50px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo{
  grid-column: 2/3;  
   width: 200px;
}